.box-name {
  display: flex;
  .name {
    text-align: center;
    padding: 3px;
    background-color: #f0f0f0f0;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 3px;
    &:hover {
      cursor: pointer;
    }
  }
}
.boxs-chat {
  display: flex;
  flex-wrap: wrap;
}
